In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Eureka,US,2022-06-06 00:24:15,40.8021,-124.1637,67.39,81,65,5.99
1,1,Saint-Philippe,RE,2022-06-06 00:25:33,-21.3585,55.7679,71.19,66,31,8.12
2,2,Tiznit,MA,2022-06-06 00:25:33,29.5833,-9.5000,69.10,61,100,1.83
3,3,Borovoy,RU,2022-06-06 00:25:34,55.4333,86.0833,40.28,93,100,13.42
4,4,Salta,AR,2022-06-06 00:25:34,-24.7859,-65.4117,54.19,82,0,6.91

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [27]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Bol,TD,2022-06-06 00:25:35,13.4586,14.7147,81.73,63,69,9.60
10,10,Auki,SB,2022-06-06 00:25:36,-8.7676,160.7034,82.85,71,95,5.82
15,15,Sao Filipe,CV,2022-06-06 00:25:39,14.8961,-24.4956,76.21,69,6,16.15
21,21,Makakilo City,US,2022-06-06 00:20:50,21.3469,-158.0858,86.32,53,0,13.80
24,24,Victoria,HK,2022-06-06 00:25:40,22.2855,114.1577,85.24,86,98,10.00
25,25,San Francisco,US,2022-06-06 00:22:24,37.7749,-122.4194,81.03,81,75,17.00
33,33,Avarua,CK,2022-06-06 00:25:44,-21.2078,-159.7750,80.65,83,20,11.50
35,35,Bonthe,SL,2022-06-06 00:25:45,7.5264,-12.5050,78.13,86,100,7.07
37,37,Methoni,GR,2022-06-06 00:25:46,36.8197,21.7049,75.22,68,2,5.44
44,44,Dingle,PH,2022-06-06 00:25:49,10.9995,122.6711,80.80,80,100,1.25

In [28]:
preferred_cities_df.count()

City_ID       174
City          174
Country       174
Date          174
Lat           174
Lng           174
Max Temp      174
Humidity      174
Cloudiness    174
Wind Speed    174
dtype: int64

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
7             Bol      TD     81.73  13.4586   14.7147
10           Auki      SB     82.85  -8.7676  160.7034
15     Sao Filipe      CV     76.21  14.8961  -24.4956
21  Makakilo City      US     86.32  21.3469 -158.0858
24       Victoria      HK     85.24  22.2855  114.1577
25  San Francisco      US     81.03  37.7749 -122.4194
33         Avarua      CK     80.65 -21.2078 -159.7750
35         Bonthe      SL     78.13   7.5264  -12.5050
37        Methoni      GR     75.22  36.8197   21.7049
44         Dingle      PH     80.80  10.9995  122.6711

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [37]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [38]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Bol,TD,81.73,13.4586,14.7147,Harrouni camp de passage
10,Auki,SB,82.85,-8.7676,160.7034,Auki Motel
15,Sao Filipe,CV,76.21,14.8961,-24.4956,Hotel Xaguate
21,Makakilo City,US,86.32,21.3469,-158.0858,Marriott's Ko Olina Beach Club
24,Victoria,HK,85.24,22.2855,114.1577,Mini Central
25,San Francisco,US,81.03,37.7749,-122.4194,Edwardian Hotel
33,Avarua,CK,80.65,-21.2078,-159.7750,Paradise Inn
35,Bonthe,SL,78.13,7.5264,-12.5050,Bonthe Holiday Village
37,Methoni,GR,75.22,36.8197,21.7049,Methoni Beach Hotel
44,Dingle,PH,80.80,10.9995,122.6711,SEGAYA PROPERTY

In [40]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [43]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [44]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))